@function get-color(
    $key: 'primary',
    $variant: 'base'
) {
    $color: null;

    // Get the color spectrum
    $color-spectrum: map-get($colors, $key);

    // Get the color variant
    @if $color-spectrum {
        $color: map-get($color-spectrum, $variant);
    }

    @return $color;
}
