.note {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;

  &__state {
    border: 1px solid rgb(7, 122, 7);
    border-radius: 50%;
    color: rgb(7, 122, 7);
    line-height: 32px;
    text-align: center;
    width: 32px;
  }

  &__prio {
    width: 32px;
    line-height: 32px;
    border-radius: 50%;
    text-align: center;
    background-color: rgb(7, 122, 7);
    color: white;
  }

  &__notification {

  }
}
