.SIGNAL {
  background-color: get-color('blue');
  border-radius: 5px;
  color: white;
  padding: 0 4px;
}

.ORGANIZATION {
  background-color: get-color('green');
  border-radius: 5px;
  color: white;
  padding: 0 4px;
}

.LOCATION {
  background-color: get-color('orange');
  border-radius: 5px;
  color: white;
  padding: 0 4px;
}

.PERSON {
  background-color: get-color('purple');
  border-radius: 5px;
  color: white;
  padding: 0 4px;
}
