.blue {
  background-color: get-color('blue');
  border-radius: 5px;
  color: white;
  padding: 0 4px;
}

.green {
  background-color: get-color('green');
  border-radius: 5px;
  color: white;
  padding: 0 4px;
}

.orange {
  background-color: get-color('orange');
  border-radius: 5px;
  color: white;
  padding: 0 4px;
}

.purple {
  background-color: get-color('purple');
  border-radius: 5px;
  color: white;
  padding: 0 4px;
}
