.blue {
  border-radius: 5px;
  color: white;
  background-color: get-color('blue');
}

.green {
  border-radius: 5px;
  color: white;
  background-color: get-color('green');
}

.orange {
  border-radius: 5px;
  color: white;
  background-color: get-color('orange');
}

.purple {
  border-radius: 5px;
  color: white;
  background-color: get-color('purple');
}
