.notes {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "notesHeader header"
    "sidebar text"
    "sidebar edit";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto 1fr;
  margin: get-spacing('m');
  margin: get-spacing('m');

  &__activeNote {
    grid-area: text;
  }

  &__edit {
    grid-area: edit;
  }
}
